@import url('https://fonts.googleapis.com/css2?family=Lora:wght@400;500;600;700&family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap');

*{
    margin: 0;
    padding: 0;
    color: white;
    text-align: center;
}
*, *::before, *::after {
    box-sizing: border-box;
}
section{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
}
.after{
    overflow: hidden;
}
.page-background {
    position: fixed;
    height: 100vh;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -1;
    background-color: rgba(5,5,5,0.41);
}
.container{
    width: 100%;
}
.top.container{
    background-image: linear-gradient(rgba(5, 5, 5, 0.4), rgba(5, 5, 5, 0.4)), url(img/background.jpg);
    padding-top: 1vw;
    padding-right: 2vw;
    padding-bottom: 3vw;
    padding-left: 2vw;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    min-height: 100vh;
}
.top .header{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
}
.top .header .widget{
    padding: 2vw;
}
.top .header .widget img{
    max-width: 300px;
}
.top .header .widget a{
    text-decoration: none;
    width: 150px;
    align-items: center;
    display: inline-flex;
    flex-direction: column;
    justify-content: center;
    border-style: solid;
    border-color: #fff;
    border-width: 1px;
    text-align: center;
    transition: color 0.2s linear,background 0.2s linear,border-color 0.2s linear, text-shadow 0.2s linear;
    min-height: 36px;
    min-width: 72px;
    padding: 8px 18px;
    background: transparent;
    font-size: 18px;
    font-family: "Montserrat",sans-serif;
}
.top .header .widget a:hover{
    background-color: #fff;
    color: #050505bd;
}
.top .main{
    flex-basis: 100%;
    width: 100%;
    max-width: 100%;
    padding-top: 5vw;
    padding-right: 0vw;
    padding-bottom: 5vw;
    padding-left: 0vw;
}
.top .main .inner{
    background-color: rgba(0,0,0,0);
    border-color: rgba(0,0,0,0);
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    padding-top: 1vw;
    padding-right: 5vw;
    padding-bottom: 1vw;
    padding-left: 5vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
}
.top .main .widget{
    padding: 1vw;
}
.top .main .widget p{
    font-size: 18px;
    font-family: 'Lora', serif;
}
.top .main .widget h1{
    font-size: 88px;
    font-family: 'Montserrat', sans-serif;
}
.top .main .widget hr{
    width: 150px;
}
.top .main .widget a{
    font-size: 20px;
    color: #050505bd;
    font-weight: 300;
    background-color: #fff;
    text-decoration: none;
    align-items: center;
    display: inline-flex;
    flex-direction: column;
    justify-content: center;
    border-style: solid;
    border-color: #fff;
    border-width: 1px;
    text-align: center;
    transition: color 0.2s linear,background 0.2s linear,border-color 0.2s linear, text-shadow 0.2s linear;
    min-height: 48px;
    min-width: 96px;
    padding: 14px 24px;
    font-family: "Montserrat",sans-serif;
}
.footer.container{
    background-color: rgba(0,0,0,0);
    padding-top: 1vw;
    padding-right: 3vw;
    padding-bottom: 1vw;
    padding-left: 3vw;
}
.footer .widget{
    padding: 1vw;
}
.footer .widget p{
    font-size: 16px;
    color: #fff;
    font-family: 'Lora', serif;
}

.color{
    position: fixed;
    height: 100vh;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1;
    background-color: #000;
    opacity: 0.5;
    transform: translateZ(0);
    transition: .8s 
}
.dialog{
    display: flex;
    position: absolute;
    top: -100000px;
    width: 100%;
    height: 100%;
    overflow-x: hidden;
    overflow-y: auto;
    z-index: 2;
    transition: top .8s cubic-bezier(1,0,0,1);
    align-items: flex-start;
}
.click{
    top: 0;
}
.dialog .inner{
    max-width: 810px;
    margin: auto;
    width: 100%;
    flex-basis: 810px;
}
.popup{
    padding: 4vw 3vw;
    background-color: rgb(29, 29, 29);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    max-width: 810px;
    width: fit-content;
}
.a{
    display: flex;
    justify-content: flex-end;
    width: 105%;
    TRANSFORM: translateY(-2vw);
}
.leadbox__close {
    z-index: 1;
    position: relative;
    cursor: pointer;
    line-height: 0;
    border-radius: 50%;
    padding: 10px;
    background: #dde2eb;
    width: 32px;
    height: 32px;
    fill: #999999;
    -webkit-transition: fill 0.2s ease;
    transition: fill 0.2s ease;
}
.popup .widget{
    padding: 1vw;
    width: 100%;
}
.popup h1{
    font-size: 40px;
    color: #fff;
    font-family: "Montserrat",sans-serif;
}
.popup form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: left;
    width: 100%;
}
.popup label{
    text-align: left;
    width: 100%;
    font-size: 20px;
    font-family: "Montserrat",sans-serif;
}
.popup input{
    border: 1px solid #05050569;
    color: #020020;
    font-size: 20px;
    border-radius: 3px;
    padding: 0px 10px;
    transition: border-color 200ms ease;
    height: 40px;
    width: 100%;
    margin: 1vw;
    display: block;
    line-height: inherit;
    text-align: left;
    font-family: "Montserrat",sans-serif;
}
.popup button{
    text-decoration: none;
    width: 100%;
    align-items: center;
    display: inline-flex;
    flex-direction: column;
    justify-content: center;
    border-style: solid;
    border-color: #fff;
    border-width: 1px;
    text-align: center;
    transition: color 0.2s linear,background 0.2s linear,border-color 0.2s linear, text-shadow 0.2s linear;
    min-height: 36px;
    min-width: 72px;
    padding: 8px 18px;
    background: transparent;
    font-family: "Montserrat",sans-serif;
}
.popup p{
    color: #fff;
    font-size: 18px;
    text-align: center;
    font-family: 'Lora', serif;
}
.popup .privacy p{
    font-size: 14px;
}
@media screen and (max-width: 760px) {
    section{
        justify-content: space-between;
    }
    .top .header{
        flex-direction: column;
        padding: 4vw;
    }
    .top .header .widget a{
        font-size: 16px;
    }
    .top .main .widget{
        padding: 3vw;
    }
    .top .main .widget p{
        font-size: 16px;
    }
    .top .main .widget h1{
        font-size: 68px;
    }
    .top .main .widget a{
        font-size: 18px;
    }
    .top .main .hr {
        width: 100%;
    }
    .top .main .widget hr {
        width: 100%;
    }
    .footer .widget p{
        font-size: 14px;
    }
    .popup h1{
        font-size: 35px;
    }
}
@media screen and (max-width: 500px) {
    .top .main .widget{
        padding: 8vw;
    }
    .top .main .widget h1{
        font-size: 52px;
    } 
    .popup h1{
        font-size: 30px;
    }
}