@import url('https://fonts.googleapis.com/css2?family=Karla:wght@200;300;400;500;600;700;800&family=Tenor+Sans&display=swap');

*{
    margin: 0;
    padding: 0;
    color: #0a0a0a;
    text-align: center;
}
*, *::before, *::after {
    box-sizing: border-box;
}
section{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
}
.after{
    overflow: hidden;
}
.page-background {
    position: fixed;
    height: 100vh;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -1;
    background-image: url(img/background.jpg);
    background-color: transparent;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    transform: translateZ(0);
}
.container{
    width: 100%;
}
.widget{
    padding: 1vw;
}
.main.container{
    padding-top: 10vw;
    padding-right: 10vw;
    padding-bottom: 10vw;
    padding-left: 10vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.main .inner{
    width: 100%;
}
.main .head{
    padding: 4vw;
    background-color: #ffffff;
}
.main .head p{
    font-size: 20px;
    font-family: 'Karla', sans-serif;
}
.main .head h2{
    font-size: 48px;
    font-family: 'Tenor Sans', sans-serif;
}
.main .count{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top: 2vw;
    padding-right: 4vw;
    padding-bottom: 2vw;
    padding-left: 4vw;
    background-color: #efedec;
}
.main .count .widget{
    padding: 1vw;
}
.main .count .widget p{
    font-size: 20px;
    font-family: 'Karla', sans-serif;
}
.main .count .countdown{
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    padding: 2vw;
}
.main .count .time-section{
    padding: 22px 0px;
    width: auto;
}
.main .count .time span{
    font-size: 80px;
    font-family: 'Karla', sans-serif;
    font-weight: 300;
}
.main .count .name span{
    font-size: 16px;
    font-weight: 700;
    font-family: 'Karla', sans-serif;
}
.main .inner.a{
    padding-top: 4vw;
    padding-right: 2vw;
    padding-bottom: 4vw;
    padding-left: 2vw;
    background-color: #ffffff;
}
.main .a .widget{
    padding: 1vw;
}
.main a{
    background-color: #0a0a0a;
    font-size: 20px;
    text-decoration: none;
    position: relative;
    font-weight: bold;
    min-height: 60px;
    min-width: 120px;
    padding: 20px 32px;
    font-family: "Tenor Sans",sans-serif;
    border-radius: 10000px;
    transition: color 0.2s linear,background 0.2s linear,border-color 0.2s linear, text-shadow 0.2s linear;
    display: inline-flex;
    flex-direction: column;
    justify-content: center;
    border-style: solid;
    border-width: 1px;
    text-align: center;
}
a{
    color: #ffffff;
    font-size: 16px;
    font-family: 'Karla', sans-serif;
}
.color{
    position: fixed;
    height: 100vh;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1;
    background-color: #000;
    opacity: 0.5;
    transform: translateZ(0);
    transition: .8s 
}
.dialog{
    display: flex;
    position: absolute;
    top: -100000px;
    width: 100%;
    height: 100%;
    overflow-x: hidden;
    overflow-y: auto;
    z-index: 2;
    transition: top .8s cubic-bezier(1,0,0,1);
    align-items: flex-start;
}
.click{
    top: 0;
}
.dialog .inner{
    max-width: 810px;
    padding: 18px;
    margin: auto;
    width: 100%;
    flex-basis: 810px;
}
.popup{
    padding: 6vw;
    background-color: rgb(255, 255, 255);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    width: fit-content;
}
.close{
    display: flex;
    justify-content: flex-end;
    width: 115%;
    transform: translateY(-4vw);
}
.leadbox__close {
    z-index: 1;
    position: relative;
    cursor: pointer;
    line-height: 0;
    border-radius: 50%;
    padding: 10px;
    background: #dde2eb;
    width: 32px;
    height: 32px;
    fill: #999999;
    -webkit-transition: fill 0.2s ease;
    transition: fill 0.2s ease;
}
.popup .widget{
    padding: 1vw;
    width: 100%;
}
.popup h1{
    font-size: 56px;
    color: #0a0a0a;
    font-family: 'Tenor Sans', sans-serif;
}
.popup form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}
.popup input{
    color: #020020;
    border: 1px solid #cccccc;
    display: block;
    width: 100%;
    text-align: left;
    height: 2em;
    margin: 0;
    padding: 0 0.5em;
    line-height: inherit;
    border-radius: 3px;
    -webkit-transition: border-color 200ms ease;
    transition: border-color 200ms ease;
}
.popup button{
    background-color: #0a0a0a;
    text-decoration: none;
    position: relative;
    color: #fff;
    font-weight: bold;
    min-height: 60px;
    min-width: 120px;
    padding: 20px 32px;
    font-family: "Tenor Sans",sans-serif;
    border-radius: 10000px;
    transition: color 0.2s linear,background 0.2s linear,border-color 0.2s linear, text-shadow 0.2s linear;
    display: inline-flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-style: solid;
    border-width: 1px;
    text-align: center;
    margin-top: 1vw;
    width: 50%;
}
.popup p{
    color: #0a0a0a;
    font-size: 18px;
    text-align: center;
    font-family: 'Karla', sans-serif;
}
@media screen and (max-width: 760px) {
    .main .head p{
        font-size: 18px;
    }
    .main .head h2{
        font-size: 38px;
    }
    .main .count .widget p{
        font-size: 18px;
    }
    .main .count .time span{
        font-size: 60px;
    }
    .main .count .name span{
        font-size: 12px;
    }
    .main a{
        font-size: 18px;
    }
    .footer p, a{
        font-size: 14px;
    }
    .popup h1{
        font-size: 50px;
    }
}
@media screen and (max-width: 500px) {
    .popup button{
        width: 70%;
    }
}
@media screen and (max-width: 450px) {
    .main .head h2{
        font-size: 33px;
    }
    .main .count .time span{
        font-size: 34px;
    }
    .main .count .name span{
        font-size: 8px;
    }
    .main a{
        font-size: 16px;
    }
    .popup h1{
        font-size: 40px;
    }
    .popup button{
        width: 80%;
    }
}
@media screen and (max-width: 350px) {
    .main .count .countdown{
        flex-direction: column;
    }
    .main .count .time-section{
        padding: 11px 0px;
    }
}