@import url('https://fonts.googleapis.com/css?family=Bitter:400,700&display=swap');
*{
    padding: 0;
    margin: 0;
    color: #800080;
}
*,*::after, *::before{
    box-sizing: border-box;
    font-family: 'Bitter', serif;
}
h1{
    text-align: center;
    padding: 1.5vw;
}
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}
.content{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
.content .container{
    padding: 3vw;
    border: 2px solid #800080;
    margin: 1.5vw;
    display: flex;
    justify-content: space-between;
    border-radius: 7px;
    box-shadow: 0px 3px 5px 0.1px #800080;
    align-items: center;
}
.content .container:nth-child(odd) {
    width: 25%;
    flex-direction: column;
}
.content .container:nth-child(odd) *{
    margin: .5vw 0;
}
.content .container:nth-child(odd) label{
    font-weight: bold;
    font-size: 1.1rem;
    text-align: center;
}
.content .container:nth-child(odd) input{
    border: 1px solid #800080;
    width: 100%;
    padding: 0.3vw;
    border-radius: 3px;
}
.content .container:nth-child(odd) button{
    border: none;
    background-color: #800080;
    color: white;
    padding: 1vw;
    margin: 1vw 0;
    width: 100%;
    font-size: 1.1rem;
}
.content .container:nth-child(odd) button:hover{
    background-color: #6d006d;
}
.content .container:nth-child(even) {
    width: 65%;
}
.content .container table{
    width: 100%
}
.content .container table tr th{
    text-align: left;
}
.content .container table tr th:nth-child(1),
.content .container table tr td:nth-child(1),
.content .container table tr td:nth-child(2),
.content .container table tr th:nth-child(2){
    width: 40%;
}
.content .container table tr th:nth-child(3), 
.content .container table tr td:nth-child(3), 
.content .container table tr td:nth-child(4), 
.content .container table tr th:nth-child(4) {
    width: 10%;
}
.content .container table .scroll{
    display: block;
    height: 30vh;
    overflow: auto;
}
thead, tbody tr {
    display: table;
    width: 100%;
    table-layout: fixed;
}
thead {
    width: calc( 100% - 1em )/* scrollbar is average 1em/16px width, remove it from thead width */
}
.other{
    display: flex;
    align-items: center;
    justify-content: center;
}
.other button{
    margin: 1vw;
    cursor: pointer;
    padding: 6px 12px;
    width: fit-content;
}
.overlay{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #0000008c;
    z-index: -5;
    opacity: 0;
    width: 0px;
    transition: all 1s;
}
.show{
    z-index: 5;
    opacity: 1;
    width: 100%;
}
.overlay #page{
    background-color: #fff;
    width: 90%;
    margin: 3vw auto;
    padding: 2vw;
}
.a{
    display: flex;
    justify-content: flex-end;
    width: 99%;
    TRANSFORM: translateY(-2vw);
}
.leadbox__close {
    z-index: 1;
    position: absolute;
    top: 3vw;
    right: auto;
    cursor: pointer;
    line-height: 0;
    border-radius: 50%;
    padding: 8px;
    background: #dde2eb;
    width: 30px;
    height: 30px;
    fill: #999999;
    -webkit-transition: fill 0.5s ease;
    transition: fill 0.5s ease;
}
.leadbox__close:hover{
    fill: red;
}
@media screen and (max-width: 800px) {
    .content{
        flex-direction: column;
        width: 100%;
        align-items: center;
    }
    .content .container:nth-child(even){
        width: 90%;
    }
    .content .container:nth-child(odd){
        width: 60%;
    }
}
@media screen and (max-width: 450px){
    .content .container:nth-child(2){
        flex-direction: column;
        text-align: center;
    }
}