@import url('https://fonts.googleapis.com/css?family=Bitter:400,700&display=swap');
*{
    padding: 0;
    margin: 0;
    color: #800080;
}
*,*::after, *::before{
    box-sizing: border-box;
    font-family: 'Bitter', serif;
}
h1{
    text-align: center;
    padding: 1.5vw;
}
.content{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
.content .container{
    padding: 3vw;
    border: 2px solid #800080;
    margin: 1.5vw;
    display: flex;
    justify-content: space-between;
    border-radius: 7px;
    box-shadow: 0px 3px 5px 0.1px #800080;
    align-items: center;
}
.content .container:nth-child(odd) {
    width: 25%;
    flex-direction: column;
}
.content .container:nth-child(odd) *{
    margin: .2vw 0;
}
.content .container:nth-child(odd) button{
    border-radius: none;
    border: none;
    background-color: #800080;
    color: white;
    paddind: 1vw;
    margin: 1vw 0;
    width: 80%;
}
.content .container:nth-child(even) {
    width: 65%;
}