body{
    overflow: hidden;
}
.text.container{
    padding: 5vw;
    text-align: center;
}
.text .widget{
    padding: 1vw;
    font-family: 'Montserrat', sans-serif;
}
.text .widget h2{
    font-size: 200%;
}
.text .widget p{
    font-size: 110%;
}
.text .widget h3{
    font-size: 150%;
    padding-bottom: 2vw;
}
.text .widget a{
    text-decoration: none;
    border: 1px solid white;
    padding: 14px 24px;
    transition: all 0.3s;
    font-weight: 500;
    font-family: 'Comforter Brush', cursive;
    font-size: 1.5rem;
    letter-spacing: 1px;
}
.text .widget a:hover{
    background-color: white;
    color: grey;
}