.title.container{
    padding: 0vw 2vw;
    width: 65%;
    font-family: 'Montserrat', sans-serif;
}
.title h1{
    font-size: 3vw;
    padding: 1vw;
}
.project.container{
    width: 65%;
    display: flex;
    /* background-color: black; */
    padding: 2vw;
    justify-content: space-between;
    flex-wrap: wrap;
}
.project .project_card {
    width: calc(50% - 2vw);
    margin: 1vw 1vw;
    text-align: center;
    height: 200px;
    background-size: 100%;
    background-position: center;
    background-repeat: no-repeat;
    /* background-color: violet; */
    transition: all 0.5s;
}
.project .project_card.card1{
    background-image: url('../thumbs/desktop/beautynewsletter.png');
}
.project .project_card.card2{
    background-image: url('../thumbs/desktop/courselist.png');
}
.project .project_card.card3{
    background-image: url('../thumbs/desktop/comingsoon.png');
}
.project .project_card.card4{
    background-image: url('../thumbs/desktop/budgetapp.png');
}
.project .project_card.card5{
    /* background-image: url('../thumbs/desktop/homesmart.png'); */
}
.project .project_card.card6{
    background-image: url('../thumbs/desktop/homesmart.png');
}
.project .project_card .card-content{
    height: 200px;
    width: 100%;
    padding: 2vw;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: 'Montserrat', sans-serif;
    display: flex;
    opacity: 0;
    transition: all 0.5s;
}
.project .project_card:hover .card-content {
    /* display: flex; */
    opacity: 1;
    background-color: #898987cc;
}
.project .project_card .card-content a{
    background: linear-gradient(to right, #242424b0,#000000c0);
    padding: 1vw 2vw;
    text-decoration: none;
    font-family: 'Montserrat', sans-serif;
    position: relative;
    font-weight: 700;
    font-size: 1.2vw;
    transition: all 0.5s;
    border-radius: 5px;
    overflow: hidden;
    box-shadow: 0px 5px 5px 1px rgba(0,0,0,0.58);
    -webkit-box-shadow: 0px 5px 5px 1px rgba(0,0,0,0.58);
    -moz-box-shadow: 0px 5px 5px 1px rgba(0,0,0,0.58);
}
.project .project_card .card-content a:hover{
    background: linear-gradient(to right, #000000c0, #242424b0);
}
