:root{
    /* vd -> Very Drak */
    --vdblue: hsl(235, 21%, 11%);
    --vdDesaturatedblue: hsl(235, 24%, 19%);
    --lightgrayblue: hsl(234, 39%, 85%);
    --lightgrayblueh: hsl(236, 33%, 92%);
    --darkgrayblue: hsl(234, 11%, 52%);
    --vdGrayishblueh: hsl(233, 14%, 35%);
    --vdGrayishblue: hsl(237, 14%, 26%);
}
body {
    background: url(images/bg-desktop-dark.jpg) no-repeat var(--vdblue);
    background-size: contain;
}
li,em{
    border-bottom: 1px solid var(--darkgrayblue);
}
li, li p, main .action a:hover{
    color: var(--lightgrayblue);
}
a, em,li.checked p, p, span, input{
    color: var(--darkgrayblue);
}
header img{
    content: url("images/icon-sun.svg");
}
main #new{
    background-color: var(--vdDesaturatedblue);
}
main #new .check label,
li .check label{
    border: 1px solid var(--vdGrayishblue);
}
main #new .check label:hover,
li .check label:hover{
    border: 1px solid var(--vdGrayishblue);
}
main section,
main #views{
    background-color: var(--vdDesaturatedblue);
}
@media screen and (max-width: 500px) {
    body {
        background: url(images/bg-mobile-dark.jpg) no-repeat var(--vdblue);
        background-size: contain;
    }
}