:root{
    --lightgray: hsl(0, 0%, 98%);
   --vlightgrayblue: hsl(236, 33%, 92%);
    --lightgrayblue: hsl(233, 11%, 84%);
    --darkgrayblue: hsl(237, 31%, 13%);
    --vdarkgrayblue: hsl(235, 19%, 35%);
}
body {
    background: url(images/bg-desktop-light.jpg) no-repeat var(--lightgray);
    background-size: contain;
}
header img{
    content: url("images/icon-moon.svg");
}
li{
    color: var(--vdarkgrayblue);
}
li,em{
    border-bottom: 1px solid var(--vlightgrayblue);
}
li, li p, main .action a:hover{
    color: var(--darkgrayblue);
}
li.checked p{
    color: var(--lightgrayblue);
}
a, em, p, span, input{
    color: var(--vdarkgrayblue);
}
main #new{
    background-color: white;
}
main #new .check label,
li .check label{
    border: 1px solid var(--lightgrayblue);
}
main section{
    background-color: white;
    /* box-shadow: 0 0 #0000, 0 0 #0000, 0 0 #0000, 0 0 #0000, 0 20px 25px -5px rgb(0 0 0 / 10%), 0 8px 10px -6px rgb(0 0 0 / 10%); */
    box-shadow: 0px 1px 11px -7px #000;
}
@media screen and (max-width: 500px) {
    body {
        background: url(images/bg-mobile-light.jpg) no-repeat var(--lightgray);
        background-size: contain;
    }
}