@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@400;700&display=swap');
:root{
    --blue: hsl(220, 98%, 61%);
    --checkbg: linear-gradient(rgba(87, 221, 255, .7), rgba(192, 88, 243, .7));
    --font: 'Josefin Sans', sans-serif;
    font-size: 18px;
}
*{
    padding: 0;
    margin: 0;
    font-family: var(--font);
    /* font-weight: 700; */
}
*, *::after, *::before{
    box-sizing: border-box;
}
html {
    height: 100%;
}
body {
    min-height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus, 
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  border: none;
  -webkit-text-fill-color: white;
  background-color: transparent !important;
  -webkit-box-shadow: 0 0 0px 1000px #00000000 inset;
  transition: background-color 5000s ease-in-out 0s;
}
input:focus, input:active, input:visited, textarea:focus, textarea:active, textarea:visited{
    background-color: transparent;
    border: none;
    outline: none;
}
a, em, span{
    display: inline-block;
    cursor: pointer;
}
a{
    text-decoration: none;
    display: inline-block;
}
header, main, footer{
    width: 100%;
    max-width: 30rem;
    padding: 10px;
}
header{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
header h1{
    color: white;
    letter-spacing: 12px;
    font-size: 2.5rem;
}
main{
    display: flex;
    flex-direction: column;
    gap: 30px;
    align-items: center;
}
main #new, li{
    display: flex;
    align-items: center;
    gap: 20px;
    padding: 20px;
    width: 100%;
}
main section,
main #views{
    width: 100%;
}
main section, 
main #new,
main #views{
    border-radius: 5px;
}
main .list{
    min-height: 2.5rem;
    max-height: 20rem;
    /* height: 10rem; */
    position: relative;
    overflow-y: auto;
}
main .list ul{
    /* position: absolute; */
    /* top: 20px; */
    width: 100%;
    display: none;
}
main .list ul:nth-child(1){
    display: block;
}
main #new input[name="new"]{
    padding: 10px;
    height: inherit;
}
input{
    background-color: transparent;
    width: calc(100% - 70px);
    border: none;
    font-size: 1rem;
}
li{
    justify-content: flex-start;
}
li .check{
    position: relative;
}
main #new .check input,
li .check input{
    display: none;
}
main #new .check label,
li .check label{
    width: 30px;
    height: 30px;
    border-radius: 30px;
    display: inline-block;
}
main #new .check input:checked ~ label,
li.checked .check label{
    background-image: var(--checkbg),url(images/icon-check.svg);
    background-position: center center;
    background-repeat: no-repeat;
}
li p{
    width: 85%;
}
li.checked p{
    text-decoration: line-through;
}
li span{
    /* justify-self: flex-end; */
    display: none;
}
li:hover span{
    display: flex;
}
main .action{
    display: flex;
    justify-content: space-between;
    /* gap: 2rem; */
    padding: 20px;
    font-size: .8rem;
}
.action a.view{
    color: var(--blue);
}
main #views{
    padding: .8rem;
    text-align: center;
    font-size: .8rem;
    display: none;
}
#views a.view{
    color: var(--blue);
}
@media screen and (max-width: 420px) {
    main .action .views{
        display: none;
    }
    main #views{
        display: block;
    }
}